{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid"
      }
    },
    {
      "files": "*.liquid",
      "excludeFiles": "*.liquid",
      "options": {
        "parser": "babel"
      }
    }
  ]
}