{% schema %}
{
  "name": "footer",
  "settings": [],
  "blocks": [
    {
      "type": "link_list",
      "name": "menu footer",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "footer"
    }
  ]
}
{% endschema %}

<div class="footer w-full bg-[#eee] h-auto">
  <div class="w-[1200px] max-w-full mx-auto p-2 md:p-4 lg:p-7">
    <div class="grid grid-cols-2 gap-3 md:grid-cols-4">
      <div class="flex justify-center items-center">
        <a href="#">
          <img
            src="{{ settings.logo |  img_url: 'master' }}"
            width="80"
            height="80"
            class="rounded-[50%] border border-[#ccc]"
            alt="Logo"
          >
        </a>
      </div>
      <div class="text-[12px] md:text-[14px] lg:text-[16px]">
        <p class="font-bold ">Information</p>
        <ul class="">
          <li>About Us</li>
          <li>Delivery Information</li>
          <li>Privacy Policy</li>
          <li>Sales</li>
          <li>Terms & Conditions</li>
        </ul>
      </div>
      <div class="text-[12px] md:text-[14px] lg:text-[16px]">
        <p class="font-bold ">Account</p>
        <ul class="">
          <li>My Account</li>
          <li>My Orders</li>
          <li>Returns</li>
          <li>Shipping</li>
          <li>Wishlist</li>
        </ul>
      </div>
      <div class="text-[12px] md:text-[14px] lg:text-[16px]">
        <p class="font-bold ">Need Help?</p>
        <ul class="">
          <li>Monday - Friday: 9:00-20:00</li>
          <li>Saturday: 11:00 - 15:00</li>
        </ul>
      </div>
    </div>
  </div>
</div>
