{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Select menu"
    }
  ],
  "presets": [
    {
      "name": "My header"
    }
  ],
  "enabled_on": { "templates": ["*"], "groups": ["header"] }
}
{% endschema %}

<header class="bg-gray-800 text-white">
  <div class="w-[1200px] max-w-full mx-auto flex justify-between items-center p-4">
    <!-- Logo -->
    <div class="text-xl font-bold">
      <a href="{{ routes.root_url }}"
        ><img src="{{ settings.logo | img_url: 'master' }}" width="45" height="45" class="rounded-[50%]" alt="Logo">
      </a>
    </div>

    <!-- Desktop Navigation -->
    <nav class="hidden md:flex space-x-6 list-none gap-[20px]">
      {% for link in section.settings.menu.links %}
        <li>
          <a href="#" class="hover:underline">{{ link.title }}</a>
        </li>
      {% endfor %}
    </nav>

    <button id="mobile-menu-button" class="md:hidden focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <div
    id="mobile-menu"
    class="fixed inset-0 z-40 bg-[rgba(0,0,0,0.3)] bg-opacity-50 translate-x-[-100%] transition-all"
  >
    <div class="fixed left-0 top-0 w-full h-full bg-gray-800 p-4">
      <button id="mobile-menu-close" class="mb-4 focus:outline-none">
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>

      <nav class="flex flex-col space-y-4">
        {% for link in section.settings.menu.links %}
          <a href="#" class="hover:underline"> {{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</header>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const mobileMenuClose = document.getElementById('mobile-menu-close');

  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.remove('translate-x-[-100%]');
  });

  mobileMenuClose.addEventListener('click', () => {
    mobileMenu.classList.add('translate-x-[-100%]');
  });

  mobileMenu.addEventListener('click', (e) => {
    if (e.target === mobileMenu) {
      mobileMenu.classList.add('translate-x-[-100%]');
    }
  });
</script>
